{
  "mods":
  [
    "accurate-block-placement-reborn",
    "animatica",
    "bookshelf-lib",
    "brb",
    "build-guide",
    "c2me-fabric",
    "cit-resewn",
    "#inventorio",
    "#inventory-profiles-next",
    "#iris",
    "jade",
    "tps-hud",
    "#travelersbackpack",
    "#vulkanmod",
    "world-play-time"
  ],
  "resourcepacks":
  [
    "3d-crops",
    "3d-items-mintynoura",
    "#bare-bones-x-fresh-animations",
    "better-enchanted-book",
    "#xalis-potion",
    "#xalis-potions-addon",
    "xk-redstone-display",
    "zebccicons"
  ],
  "shaders":
  [
    "bsl-shaders",
    "#noble",
    "shrimple",
    "soft-voxels-lite"
  ],
  "storage": "/tmp/termmodrinth",
  "threads": 4,
  "modrinth":
  {
    "max_queries_per_minute": 256,
    "minecraft_versions":
    {
      "mods":
      [
        "1.20.4",
        "1.20.3",
        "1.20.2",
        "#1.20.1"
      ],
      "resourcepacks":
      [
        "1.20.4",
        "1.20.3",
        "1.20.2",
        "1.20.1",
        "1.20",
        "1.19.2"
      ],
      "shaders":
      [
        "1.20.4",
        "1.20.3",
        "1.20.2",
        "#1.20.1",
        "#1.20",
        "#1.19.2"
      ]
    },
    "loader":
    {
      "mods": "fabric",
      "resourcepacks": "minecraft",
      "shaders": "iris"
    },
    "request_dependencies":
    [
      "required",
      "#optional"
    ],
    "primaries_only":
    {
      "mods": true,
      "resourcepacks": false,
      "shaders": true
    },
    "try_not_download_sources":
    {
      "mods": true,
      "resourcepacks": true,
      "shaders": true
    },
    "user":
    {
      "login": "",
      "password": ""
    }
  }
}
